.resume-download-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 20px;
    background-color: var(--background-color);
  }
  
  .resume-download-container h1 {
      margin-bottom: 20px;
  }
  
  .download-button {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
  }
  
  .download-button:hover {
    background-color: #0056b3;
  }