.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
  }
  
  .social-links a {
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
      transition: color 0.3s ease-in-out;
  }
  .social-links a:hover {
      color: #ffd700;
  }
  
  @media only screen and (max-width: 768px) {
      .social-links {
          flex-direction: column;
          align-items: center;
      }
  
      .social-links a {
          font-size: 2rem;
          margin: 15px 0;
      }
  }